body {
    background-color: black;
    color: white;
}
a {
    text-decoration: none;
    color: darkgrey;
}
a:hover {
    color: navy;
    font-size: larger;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
main div {
    margin: 50px auto;
}
.player-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.enemy {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
label {
    padding: 20px;
}